<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>	
	<script type="text/javascript">
		async function redirectToGame(isOnline) {
			let response = await fetch(`/play/game?isOnline=${isOnline}`, {
				method: "GET"
			})
			const url = await response.text();
      window.location.href = url; // Redirect to the generated URL`
		}
	</script>
	<div class="h-5/6 md:w-11/12 w-full flex justify-center items-center gap-8">
		<div id="game-container" class="w-2/3 h-full flex justify-center items-center flex-col">
			<div id="opponent-stats" class="border-black border-2 w-full p-2 flex flex-col">
				<h1 id="opponent-time" class="font-bold text-3xl">5:00</h1>
				<h2>Opponent</h2>
			</div>
			<div id="player-stats" class="border-black border-2 w-full p-2 flex flex-col">
				<h1 id="your-time" class="font-bold text-3xl">5:00</h1>
				<h2>You</h2>
			</div>
		</div>
		<div id="game-menu" class="w-1/3 gap-8 flex flex-col">
			<button type="button" onclick="getMatch()">Request Match</button>
			<button onclick="redirectToGame(false)">Play Computer</button>
			<button id="move-sender">Enter Move</button>
		</div>
	</div>	
	<script type="text/javascript">
		const stompClient = new StompJs.Client({
				brokerURL: 'ws://localhost:8080/play-websocket'
		});

		class Player {
			id;
			
			constructor(id) { this.id = id; }
		}

		const privatePreUrl = '/player/'
		const gameStartUrl = '/move/start'
		const moveOnlineUrl = '/move/online'

		const gameContainer = document.getElementById("game-container")
		const playerStatus = document.getElementById("player-stats")
		const oppenentStatus = document.getElementById("opponent-stats")
		const linesOfAction = document.createElement("lines-of-action")
		const gameMenu = document.getElementById("game-menu")

		let gameId = "";
		let playerIndex = -1;
		let yourTurn = false;

		let selectedSquare = null;

		const gamePosition = {
			a2: 'black', a3: 'black', a4: 'black', a5: 'black', a6: 'black', a7: 'black',
			h2: 'black', h3: 'black', h4: 'black', h5: 'black', h6: 'black', h7: 'black',
			b1: 'white', c1: 'white', d1: 'white', e1: 'white', f1: 'white', g1: 'white', 
			b8: 'white', c8: 'white', d8: 'white', e8: 'white', f8: 'white', g8: 'white', 
		}

		function uuidv4() {
			return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
			.replace(/[xy]/g, function (c) {
					const r = Math.random() * 16 | 0, 
							v = c == 'x' ? r : (r & 0x3 | 0x8);
					return v.toString(16);
			});
		}

		const playerId = uuidv4()

		stompClient.onConnect = (frame) => {
			console.log('Connected: ' + frame);

			stompClient.subscribe(privatePreUrl + playerId + gameStartUrl, (status) => {
				let gameStatus = JSON.parse(status.body);
				if(gameStatus.status == "Starting") {
					// Change Menu for the moves
					gameMenu.innerHTML = ''

					gameMenu.classList.add('h-full')
					gameMenu.classList.add('bg-stone-400')

					// Change the Player Status with the valid details

					// Change the subscription
					playerIndex = gameStatus.playerIndex;
					gameId = gameStatus.gameId;

					if(playerIndex == 0) yourTurn = true;
					else yourTurn = false;
					
					console.log(playerIndex);
					console.log(gameId);
					console.log(yourTurn);
				} else {
					console.log(gameStatus)
				}
			});

			stompClient.subscribe(privatePreUrl + playerId + moveOnlineUrl, (move) => {
				let moveBody = JSON.parse(move.body);

				const fromSquare = document.querySelector(`[data-position="${moveBody.from}"]`);
				let pieceImg = fromSquare.style.backgroundImage;
				fromSquare.style.backgroundImage = '';

				const toSquare = document.querySelector(`[data-position="${moveBody.to}"]`);
				toSquare.style.backgroundImage = pieceImg;

				yourTurn = !yourTurn;
				console.log(moveBody);
			})
		};

		stompClient.onWebSocketError = (error) => {
			console.error('Error with websocket', error);
			disconnect();
		};

		stompClient.onStompError = (frame) => {
				console.error('Broker reported error: ' + frame.headers['message']);
				console.error('Additional details: ' + frame.body);
		};

		function getMatch() {
			stompClient.publish({
				destination: `/play/start`,
				body: JSON.stringify({
					id: playerId
				})
			});
		}

		function disconnect() {
				stompClient.deactivate();
				console.log("Disconnected");
		}

		stompClient.activate();

		linesOfAction.classList.add('aspect-square')
		linesOfAction.classList.add('border-2')
		linesOfAction.classList.add('border-black')
		linesOfAction.classList.add('grid')
		linesOfAction.classList.add('grid-rows-8')
		linesOfAction.classList.add('grid-cols-8')
		linesOfAction.classList.add('h-2/3')

		const letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'];

		for (let row = 8; row >= 1; row--) {
			for (let col = 0; col < 8; col++) {
				const square = document.createElement('div');
				square.classList.add('w-full');
				square.classList.add('flex-grow');
				square.classList.add('flex');
				square.classList.add('items-center');
				square.classList.add('justify-center');
				square.classList.add('bg-contain');
				square.classList.add('bg-no-repeat');
				square.classList.add('bg-center');

				square.classList.add((row + col) % 2 === 0 ? 'bg-orange-100' : 'bg-orange-900');
				square.dataset.position = `${letters[col]}${row}`; // e.g., a1, b1, etc.
				linesOfAction.appendChild(square);
			}
		}

		

		linesOfAction.addEventListener('click', (e) => {
			const square = e.target;

			// Select a square
			if (!selectedSquare && square.style.backgroundImage) {
				selectedSquare = square;
				square.classList.add('bg-yellow-600');
			} 
			// Move the piece
			else if (selectedSquare) {

				console.log(playerIndex)

				if(yourTurn) {
					stompClient.publish({
						destination: "/play/online",
						body: JSON.stringify({
							gameId,
							from: selectedSquare.dataset.position,
							to: square.dataset.position,
							playerIndex: playerIndex
						})
					})

					pieceImg = selectedSquare.style.backgroundImage;

					selectedSquare.style.backgroundImage = null;
					selectedSquare.textContent = '';
					selectedSquare.classList.remove('bg-yellow-600');
					square.style.backgroundImage = pieceImg;
					selectedSquare = null	;

					gamePosition[square.dataset.position] = playerIndex;
					yourTurn = !yourTurn;
				} else {
					selectedSquare.style = null;
					selectedSquare.textContent = '';
					selectedSquare.classList.remove('bg-yellow-600');
				}
			}
		});

		gameContainer.insertBefore(linesOfAction, playerStatus)

		for (const position in gamePosition) {
			const square = document.querySelector(`[data-position="${position}"]`);
			square.style.backgroundImage = `url('/${gamePosition[position]}-checker.svg')`;
		}


	</script>
</body>
</html>
