<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="gameReview(games)">
	<script>
		async function redirectToGame(isOnline) {
			let response = await fetch(`/play/game?isOnline=${isOnline}`, {
				method: "GET"
			})
			const url = await response.text();
			window.location.href = url; // Redirect to the generated URL`
		}
	</script>
	<div class="min-h-screen w-11/12 flex items-center flex-col gap-8 py-12">
		<h1 class="text-3xl font-bold">Review</h1>
		<div class="w-5/6">
			<h1 class="text-xl">Previous Games: </h1>
			<div class="flex flex-row" id="prev-game-display">
				<div th:each="game: ${games}" class="border-2 border-black p-4">
					<h1 th:text="${game.id}"></h1>
					<div id="board" class="grid grid-rows-8">
						<div th:each="row, rowStat: ${game.board}" class="grid grid-cols-8">
							<div 
								th:each="col, colStat: ${row}" 
								th:classappend="${(rowStat.index + colStat.index) % 2 == 0 ? 'bg-orange-100' : 'bg-orange-900'}"
								th:style="${col.toString() == ' ' ? '' : (col.toString() == 'b' ? 'background-image: url(/black-checker.svg)' : 'background-image: url(/white-checker.svg)')}"
								class="w-12 aspect-square bg-contain bg-no-repeat bg-center"
							>
							</div>
						</div>
					</div>
					<a th:href="@{/user/review/game/{id}(id=${game.id})}">Review Game</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
