<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
	<script>
		async function redirectToGame(isOnline) {
			let response = await fetch(`/play/game?isOnline=${isOnline}`, {
				method: "GET"
			})
			const url = await response.text();
      window.location.href = url; // Redirect to the generated URL`
		}
	</script>
	<div class="h-5/6 w-11/12 flex justify-center items-center flex-col gap-8">
		<button type="button" onclick="redirectToGame(true)">Play Online</button>
	</div>	
</body>
</html>
